<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pilot.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>53FFBE3A01CA89C32E76C045C245EB875B0A7FC1</string>
				<key>dateExpires</key>
				<string>2021/7/28</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DGA72GSV6S.cn.edu.dlmu.ngsi.pilot</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DGA72GSV6S</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Pilot.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>20261a50-a4c0-4122-bdfd-9beeb068dd49</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: cn.edu.dlmu.ngsi.pilot</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DGA72GSV6S</string>
				<key>name</key>
				<string>Dalian Neusoft University of Information</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
